:host {
    display: grid;grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
}

a {
    display: block;
    padding: 20px;
    font-family: sans-serif;
    border-radius: 50px;
}

a:hover {
    background: #e7ad5f
}


* {
    font-family: sans-serif;
    color: #432805;
}