<a routerLink="/">Back to overview</a>
<h1>Berry Poffin Recipe</h1>
<h2>Ingredients:</h2>
<p>Amount of servings: <app-pokemon-servings (updatedServings)="updateServings($event)"></app-pokemon-servings></p>
<app-pokemon-ingredients [ingredients]="updatedIngredients"></app-pokemon-ingredients>

<h2>Instructions:</h2>
<ol>
    <li>
        <h3>Prepare the Berries:</h3>
        <p>Wash and chop the berries into small pieces.</p>
    </li>
    <li>
        <h3>Mix the Dry Ingredients:</h3>
        <p>In a large bowl, combine the flour, sugar, baking powder, and salt.</p>
    </li>
    <li>
        <h3>Combine Wet Ingredients:</h3>
        <p>In another bowl, mix the milk, melted butter, and vanilla extract.</p>
    </li>
    <li>
        <h3>Make the Batter:</h3>
        <p>Gradually add the wet ingredients to the dry ingredients, stirring until just combined.
        <p>Fold in the chopped berries.</p>
    </li>
    <li>
        <h3>Bake the Poffins:</h3>
        <p>Preheat your oven to 180°C (350°F).</p>
        <p>Grease a muffin tin and fill each cup with the batter.</p>
        <p>Bake for 20-25 minutes or until golden brown and a toothpick inserted into the center comes out clean.<p>
    </li>
    <li>
        <h3>Cool and Serve:</h3>
        <p>Let the Poffins cool for a few minutes before removing them from the tin.</p>
        <p>Serve them as a delightful treat for your Pokémon-themed party!</p>
    </li>
</ol>