<form #form="ngForm" (ngSubmit)="submitForm(form)">
    <label>Name: </label>
    <input type="text" name="name" id="pokemonName" required minlength="4" ngModel #name="ngModel">
    <!-- @if (checkValid(form, 'name')){
        <div class="">
            your name is invalid
        </div>
    } -->
    <label>Ability: </label>
    <input type="text"  name="ability" id="pokemonAbility" required ngModel #ability="ngModel">
    <!-- @if (checkValid(form, 'ability')){
        <div class="">
            your ability is invalid
        </div>
    } -->
    <button type="submit">submit new pokemon</button>
    <div>Amount of pokemon: {{ count$ | async }}</div>

    @if ((name.touched && ability.touched) && form.form.invalid){
        <div class="error">
            something went wrong try again!
        </div>
    }

    <a [routerLink]="[`/count-pokemon`]">go to counter</a>

</form>
