@if (pokemon.name) {
    <a routerLink="/">Back to overview</a>
    <h1>{{ pokemon.name }}</h1>
    <img [src]="pokemon.sprites.front_default" alt="" onclick="document.querySelector('audio').play()">
    <audio>
        <source [src]="pokemon.cries.latest" type="audio/ogg">
    </audio>
    <div>
        @if(id > 1) {
            <a [routerLink]="[`/id/${(id-1)}`]">back</a>
        }
        @if (id < 1025) {
            <a [routerLink]="[`/id/${(id+1)}`]">next</a>
        }
    </div>
    
    <a [routerLink]="[`/recipe/${pokemon.weight}`]">Go to recipe</a>
} 