<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" name="name" id="pokemonName" formControlName="name" >
    @if(invalidName){
        <h1>the name should contain pika</h1>
    }
    <input type="text"  name="url" id="pokemonUrl" formControlName="url"  >
    <button type="submit">submit new pokemon</button>
    <a [routerLink]="[`/pokemon`]">go back to list</a>

    @if (invalidForm){
        <div class="error">
            something went wrong try again!
        </div>
    }
    @for (pokemon of (pokemons$ | async)?.results; track pokemon.name){
        <p>{{pokemon.name}} - {{pokemon.url}}</p>
    }


</form>
